body {
    background-image: url('valorant.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.title1 {
    position: absolute;
    top: 1em;
    left: 0vw;
    z-index: 1;
    width: 24vw;
    height: 6em;
    box-shadow: 0.5em 0.5em 0.5em yellow;
}

.title2 {
    position: absolute;
    top: 1em;
    left: 25vw;
    z-index: 1;
    width: 24vw;
    height: 6em;
    box-shadow: 0.5em 0.5em 0.5em yellow;
}

.title3 {
    position: absolute;
    top: 1em;
    left: 50vw;
    z-index: 1;
    width: 24vw;
    height: 6em;
    box-shadow: 0.5em 0.5em 0.5em yellow;
}

.title4 {
    position: absolute;
    top: 1em;
    left: 75vw;
    z-index: 1;
    width: 24vw;
    height: 6em;
    box-shadow: 0.5em 0.5em 0.5em yellow;
}

.titleText1 {
    position: absolute;
    top: 0;
    font-size: 3em;
    font-family: 'Monotype Corsiva';
    text-align: center;
    color: yellowgreen;
    width: 24vw;
    left: 0vw;
    z-index: 2;
}

.titleText2 {
    position: absolute;
    top: 0;
    font-size: 3em;
    font-family: 'Monotype Corsiva';
    color: yellowgreen;
    width: 24vw;
    left: 25vw;
    text-align: center;
    z-index: 2;
}

.titleText3 {
    position: absolute;
    top: 0;
    font-size: 3em;
    font-family: 'Monotype Corsiva';
    color: yellowgreen;
    width: 24vw;
    left: 50vw;
    text-align: center;
    z-index: 2;
}

.titleText4 {
    position: absolute;
    top: 0;
    font-size: 3em;
    font-family: 'Monotype Corsiva';
    color: yellowgreen;
    width: 24vw;
    left: 75vw;
    text-align: center;
    z-index: 2;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

em {
    font-family: Centaur, 'Bernard MT', Chiller;
    text-align: center;
}

